DJANGO_SETTINGS_MODULE=domasy.project.settings.docker
DJANGO_SECRET_KEY=change-me-in-local-development
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=domasy
POSTGRES_USER=domasy
POSTGRES_PASSWORD=domasy
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

OCR_LANGUAGE=deu+eng
OCR_AUTO_START_ON_UPLOAD=true
OCR_RUN_INLINE=false

S3_ENDPOINT_URL=http://minio:9000
S3_ACCESS_KEY_ID=domasy
S3_SECRET_ACCESS_KEY=domasy-secret
S3_STORAGE_BUCKET_NAME=domasy-documents
S3_REGION_NAME=eu-central-1
